/* Platform Nav*/

.special-menu {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 36em) {
  .special-menu {
    display: none;
  }
}

.platform-nav li {
  margin-top: calc(calc(1rem * 1.62) / 4.62);
  list-style-type: none;
}

.platform-nav {
  align-items: flex-end;
  --space: calc(calc(1rem * 1.62) / 1.62);
  margin-top: calc(calc(1rem * 1.62) * 1.62);
}

.platform-nav h3 {
  align-self: flex-start;
  padding: 0 calc(1rem * 1.62);
  font-weight: bold;
  color: #27374F;
}

.cross-cutting__item {
  text-decoration: none;  
  color: #FFFFFF;
  padding: var(--s-2) var(--s0);
  background-color: #27374F;
  display: inline-flex;
  gap: var(--s-1);
  font-weight: 400;
  min-width: 22ch;
  transform: translateX(var(--s-1));
  transition: all 0.2s ease-out;
}

.cross-cutting__item:hover {
  transform: translateX(0);
}


/* Highlights */
.highlight-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--s2);
}

.highlight-section > h2 {
  font-size: 3em;
  color: #FA9722;
}

.highlight-wrapper {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
}

.new-card {
  flex-direction: column;
}

.highlight-card {
  gap: 20px;
}

.highlight-card__figure {
  box-shadow: none;
}

@media screen and (min-width: 90em) {
  .highlight-card:first-child {
    grid-column: span 3;
    flex-direction: row-reverse;
  }

  .highlight-card:first-child > :first-child {
    min-width: 470px;
  }
}

/* thamatic areas */
.thematicareas-title {
  text-align: center;
  font-size: 3em;
}


/* Updates */
.updates-title {
  text-align: center;
  font-size: 3em;
}

.more-updates--button {
  color: white;
  background-color: #FA9722;
}

.more-updates--button:hover {
  background-image: linear-gradient(hsl(0, 0%, 0%, 0.15), hsl(0, 0%, 0%, 0.25));
}

.homepage-updates-button-section {
  padding-bottom: 2rem;
  background-color: white;
}

/* tweet cards skeleton */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton > * {
  opacity: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


/* documentaries */

.homepage-docs-button-section {
  padding-bottom: 2rem;
  background-color: white;
}

.more-docs--button {
  color: white;
  background-color: #FA9722;
}

.more-docs--button:hover {
  background-image: linear-gradient(hsl(0, 0%, 0%, 0.15), hsl(0, 0%, 0%, 0.25));
}

@media screen and (min-width: 86em) {
  .doc-card:first-child {
    grid-column: span 3;
    grid-gap: 2vw;
    flex-direction: row-reverse;
  }

  .doc-card:first-child > :first-child {
    min-width: 470px;
  }
}

.doc-card__content {
  margin: 0;
}


/* Search */

.search-input {
  background: url(../images/search-icon.png);
  background-position: var(--s0) 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 1px solid black;
  border-radius: 6px;
  padding: var(--s-1) var(--s0) var(--s-1) var(--s3)
}

@media screen and (min-width: 40em) {
  .search-card {
    grid-column: span 2;
    flex-direction: row-reverse;
  }
}

.search-form-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
}

.search-input {
  width: 50%;
}

/* Podcast */
.hero--podcasts {
  --bg-img: url(/images/hero/podcast.jpg);
}

/* TypeWriter */
.typewriter-words {
  color: #FA9722;
  font-weight: 600;
}